# Python
backend/venv/
backend/.env
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
*.pyc
backend/db.sqlite3
backend/media/
!backend/media/.gitkeep
*.py[cod]
*$py.class

# Node
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# AI Models
*.pth
*.onnx
*.weights

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
